<h2>Welcome to join Tudolink</h2>
<p>
    Dear：<br />
  Thank you very much for registering. You are currently working on email validation.
</p>
<a href='{validUrl}'>Click on the activate account</a>


(This link will expire after 30 minutes.)

If the connection cannot be clicked, copy the following address to the browser address bar.

{validUrl}

TuDoLINK Team